body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:559px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:179px;
  top:59px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:210px;
  top:190px;
  width:319px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:312px;
  top:201px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:209px;
  top:177px;
  width:320px;
  height:13px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:13px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:490px;
  top:206px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:240px;
  top:285px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:290px;
  top:277px;
  width:160px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:240px;
  top:323px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:292px;
  top:320px;
  width:160px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:242px;
  top:365px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:292px;
  top:360px;
  width:160px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:242px;
  top:420px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:302px;
  top:420px;
  width:68px;
  height:60px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
