body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:555px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:175px;
  top:60px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:206px;
  top:189px;
  width:320px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u3 {
  position:absolute;
  left:205px;
  top:224px;
  width:320px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u4 {
  position:absolute;
  left:205px;
  top:224px;
  width:320px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u5 {
  position:absolute;
  left:207px;
  top:277px;
  width:320px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u6 {
  position:absolute;
  left:207px;
  top:327px;
  width:320px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u7 {
  position:absolute;
  left:348px;
  top:199px;
  width:41px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:239px;
  top:249px;
  width:91px;
  height:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:239px;
  top:299px;
  width:91px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:205px;
  top:328px;
  width:320px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u14 {
  position:absolute;
  left:205px;
  top:378px;
  width:320px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u15 {
  position:absolute;
  left:239px;
  top:350px;
  width:91px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:207px;
  top:430px;
  width:320px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u18 {
  position:absolute;
  left:239px;
  top:398px;
  width:91px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:484px;
  top:245px;
  width:22px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:484px;
  top:292px;
  width:22px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:484px;
  top:344px;
  width:22px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:484px;
  top:394px;
  width:22px;
  height:22px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u27 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
